[Desktop Entry]
Name=Zandronum-Launcher
GenericName=Zandronum-Launcher
Comment=Custom Zandronum launcher with WAD selection
Exec=/usr/bin/zandronum-launcher
Icon=zandronum
StartupNotify=true
Terminal=false
Type=Application
Categories=Game;Shooter
