[Desktop Entry]
Name=Zandronum-Launcher
GenericName=Zandronum-Launcher
Comment=Custom Zandronum launcher with WAD selection
Exec=/usr/share/zandronum-launcher/zandronum-launcher.py
Icon=zandronum
StartupNotify=true
Terminal=false
Type=Application
Categories=Game;Shooter
